.navbar {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: rgba(0, 0, 0, 0.2); /* black with 50% opacity */
    backdrop-filter: blur(10px);          /* optional: blur the background behind */
    -webkit-backdrop-filter: blur(10px);  /* Safari support */
    /*color: white;*/
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.app-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.right {
    display: flex;
    gap: 2rem;
}

.navbar-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.nav-link:hover {
    background-color: rgba(255,255,255, 0.1);
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem;
    }

    .app-name {
        font-size: 1.2rem
    }

    .right {
        gap: 1rem;
    }

    .nav-link {
        padding: 0.5rem;
    }
}
